body {
  background-color: black;
  color: white;
  font-family: "Trebuchet MS";
  margin: 0;
  padding: 0;
  overflow: hidden visible;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
}

.navbar li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.navbar li a:hover {
  background-color: grey;
}

.navbar {
  margin-top: 15px;
  margin-right: 30px;
}
.box1 {
  height: 175vh;
  width: 65vw;
}

.heading {
  font-size: 3rem;
  font-family: "Trebuchet MS";
}
.heading2 {
  font-size: 2rem;
  font-family: "Trebuchet MS";
}

.box1 p {
  font-size: 1.1rem;
}

.container1 {
  display: flex;
  justify-content: right;
  max-height: 10vh;
  max-width: 100%;
  padding: 10px;
}

.container1 span {
  text-align: left;
  flex: content;
  font-family: "Trebuchet MS";
  margin-left: 15px;
  margin-top: 15px;
  font-size: 2rem;
}
.container1 img {
  justify-content: left;
}

.container1 button {
  justify-content: right;
  padding: 2px 4px;
}

.btn {
  margin-left: 10px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "Trebuchet MS";
  cursor: pointer;
  background-color: hsla(0, 7%, 97%, 0.959);
  height: 50px;
  margin-top: 13px;
}
.main {
  display: flex;
  width: 100%;
  max-height: 100%;
  background-color: black;
  padding: 5px 20px;
}

.box2 {
  width: 30vw;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.person1 {
  width: 195px;
  height: 191px;
  border-radius: 100px;
}
@media only screen and (max-width: 554px) {
  .container1{
    justify-content: space-between;
  }
  .heading {
    font-size: 1.5rem;
  }
  .btn1 {
    margin-left: 124px;
  }
  .box1 p {
    font-size: 1rem;
  }
  .box1 {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    box-sizing: border-box;
  }
  .box2 {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;
  }
  .foot {
    font-size: 10px;
  }
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .container1 span {
    font-size: 1.5rem;
  }
}
/* Base styles */
.foot {
  border-top: 1px solid grey;
  padding-top: 10px;
  margin-top: 5%; /* Initial margin */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.foot p {
  margin-top: 10px;
  margin-right: 10px;
}

.foot img {
  margin-top: 5px;
}
nav svg {
  fill: var(--text-color);
}
#sidebar-active {
  display: none;
}
.open-sidebar-button,
.close-sidebar-button {
  display: none;
  fill: white;
}
.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 650px) {
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: black;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .close-sidebar-button {
    padding: 20px;
    display: block;
  }
  .hr {
    width: 1000px;
  }
  .open-sidebar-button {
    display: block;
    padding-top: 5px;
  }
  #sidebar-active:checked ~ .links-container {
    right: 0;
  }
  #sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}
@media only screen and (max-width: 350px) {
  .container1 span{
    display: none;
  }
  .container1{
    justify-content: space-between;
  }
}